.container-fluid {
  color: white;
  padding-top: 2em;
}

.fade-in-text {
  display: flex;
  animation: fadeIn ease-in-out 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card-img-top {
  max-height: 300px;
  display: inline-block;
}

.badge {
  position: absolute;
  top: 0;
  left: 0;
}
